{% extends 'layout.html' %}
{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    {% include 'left_sidebar.html' %}
                </div>
            </div>

            <div class="col-sm-9 padding-right">

                {#{% if cat and cat != '' %}#}
                {#<div class="col-md-12">#}
                {#<h1>{{ cat.title }}</h1>#}
                {#</div>#}
                {#{% endif %}#}

                <div class="features_items"><!--features_items-->
                    {% if cat and cat != '' %}
                        <h2 class="title text-center">{{ cat.title }}</h2>
                    {% endif %}
                    {% for p in products %}
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center" id="{{ p.id }}">
                                        <div style="height: 249px">
                                            <img class="feat_img_tag" src="{{ p.image }}" id="{{ p.id }}"/>
                                        </div>

                                        <h2>{{ p.price | number_format ~ " đ" }}</h2>

                                        <p id="{{ p.id }}">{{ p.title }}</p>
                                        <a href="javascript:add_to_cart({{ p.id }})" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                                    </div>
                                    <div class="product-overlay">
                                        <div class="overlay-content" id="{{ p.id }}">

                                            <h2>{{ p.price | number_format ~ " đ" }}</h2>

                                            <a href="/products/{{ p.slug }}"><p id="{{ p.id }}">{{ p.title }}</p></a>
                                            <a href="javascript:add_cart({{ p.id }})" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="choose">
                                    <ul class="nav nav-pills nav-justified">
                                        <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                                        <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    {% if cat and cat != '' %}
                        {{ pager(totalPage,currentPage,'/products/category/' ~ cat.slug ~ '/page/{page}') }}
                    {% else %}
                        {{ pager(totalPage,currentPage,'/products/page/{page}') }}
                    {% endif %}






                </div><!--features_items-->
            </div>
        </div>
    </div>
</section>

{% endblock %}