{% extends 'layout.html' %}
{% block content %}
    {% if new_products %}
    <section id="slider"><!--slider-->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            {% for new in new_products %}
                            <ul class="bxslider">
                                <div class="col-sm-6">
                                    <br/>
                                    <h1>SẢN PHẨM MỚI</h1><br/>
                                    <h2>{{ new.title }}</h2>
                                    <h2>{{ new.price | number_format ~ " đ" }}</h2>
                                    <a class="btn btn-default get" href="/products/{{ new.slug }}">Get it now</a>
                                </div>
                                <div class="col-sm-6">
                                    <li><img src="{{ new.image }}" clas s="girl img-responsive" alt="" /></li>
                                </div>
                            </ul>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section><!--/slider-->
    {% endif %}

    {#{% block content_with_slider %}#}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="left-sidebar">
                        {% include 'left_sidebar.html' %}
                    </div>
                 </div>

    <div class="col-sm-9 padding-right">

    <!--features_items-->
    {% if features_products %}
    <div class="features_items">

        <h2 class="title text-center">Sản phẩm nổi bật</h2>

        {% for product in features_products %}
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center" id="{{ product.id }}">
                        <div style="height: 249px">
                            <img class="feat_img_tag" src="{{ product.image }}" id="{{ product.id }}"/>
                        </div>

                        <h2>{{ product.price | number_format ~ " đ" }}</h2>

                        <p id="{{ product.id }}">{{ product.title }}</p>
                        <a href="javascript:add_cart({{ product.id }})" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content" id="{{ product.id }}">

                            <h2>{{ product.price | number_format ~ " đ" }}</h2>

                            <a href="/products/{{ product.slug }}"><p id="{{ product.id }}">{{ product.title }}</p></a>
                            <a href="javascript:add_cart({{ product.id }})" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <!-- /features_items-->

    <!--new_items-->
    {% if new_items %}
        <div class="new_items">

            <h2 class="title text-center">Sản phẩm mới nhất</h2>

            {% for product in new_items %}
                <div class="col-sm-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center" id="{{ product.id }}">
                                <div style="height: 249px">
                                    <img class="feat_img_tag" src="{{ product.image }}" id="{{ product.id }}"/>
                                </div>

                                <h2>{{ product.price | number_format ~ " đ" }}</h2>

                                <p id="{{ product.id }}">{{ product.title }}</p>
                                <button onclick="" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</button>
                            </div>
                            <div class="product-overlay">
                                <div class="overlay-content" id="{{ product.id }}">

                                    <h2>{{ product.price | number_format ~ " đ" }}</h2>

                                    <a href="/products/{{ product.slug }}"><p id="{{ product.id }}">{{ product.title }}</p></a>
                                    <a href="javascript:add_cart({{ product.id }})" class="btn btn-default add-to-cart" name="addToCart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <!-- /features_items-->
    </div>
    </div>
    </div>
    </section>
{% endblock %}