<h2>Danh mục</h2>
<div class="panel-group category-products" id="accordian">
    {% for cat in __cates %}
        {% if cat.is_Parent %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                        <a href="#menu_child{{ cat.id }}" >
                            {{ cat.title }}
                        </a>
                        <a data-toggle="collapse" data-parent="#accordian" style="float: right" href="#menu_child{{ cat.id }}">+</a>
                </h4>
            </div>
            <div id="menu_child{{ cat.id }}" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        {% for cat2 in __cates %}
                            {% if cat2.parent == cat.id %}
                                <li><a href="/products/category/{{ cat2.slug }}">{{ cat2.title }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>
<div class="price-range"><!--price-range-->
    <h2>Tìm kiếm theo giá</h2>
    <div class="well text-center">
        <div style="width: 149px;" class="slider slider-horizontal"><div class="slider-track"><div style="left: 41.6667%; width: 33.3333%;" class="slider-selection"></div><div style="left: 41.6667%;" class="slider-handle round left-round"></div><div style="left: 75%;" class="slider-handle round"></div></div><div style="top: -30px; left: 53.9167px;" class="tooltip top"><div class="tooltip-arrow"></div><div class="tooltip-inner">250 : 450</div></div><input style="" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2" type="text"></div><br>
        <b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
    </div>
</div>